body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    background-color: firebrick;
}

.hop {
    width: 300px; 
}
.hop2 {
    width: 300px; 
}